/* Write your CSS here */
.planet-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.display-slider {
  display: flex;
  margin: 0px;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 60%;
}
.title {
  color: #05acff;
  font-family: 'Roboto';
  text-align: center;
}
